
@media screen and (min-width: 1150px) {


    html {
        --main-about-width: calc(100vw - 32rem);
    }

    body.subpage main {
        padding: 6.5rem 10%;
        padding: 6.5rem calc(var(--main-about-width) * 0.1);
        /* align-items: flex-end; */
    }
    body.subpage main::before {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.56), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.84), rgba(255, 255, 255, 0.3));

        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6) calc(var(--main-about-width) * 0.4), rgba(255, 255, 255, 0.95) calc(var(--main-about-width) * 0.5), rgba(255, 255, 255, 0.95) calc(var(--main-about-width) * 0.9), rgba(255, 255, 255, 0.6));

        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(var(--main-about-width) * 0.4), rgba(255, 255, 255, 0.5) calc(var(--main-about-width) * 0.4), rgba(255, 255, 255, 0.85) calc(var(--main-about-width) * 0.5), rgba(255, 255, 255, 0.85) calc(var(--main-about-width) * 0.9), rgba(255, 255, 255, 0.5)); 

        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(var(--main-about-width) * 0.45), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.45), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.95), rgba(255, 255, 255, 0.2) calc(var(--main-about-width) * 0.95), rgba(255, 255, 255, 0.2)); 

        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(var(--main-about-width) * 0.445), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.45), rgba(255, 255, 255, 0.9) calc(var(--main-about-width) * 0.95), rgba(255, 255, 255, 0.2) calc(var(--main-about-width) * 0.955), rgba(255, 255, 255, 0.2)); 
    }

    body.subpage main.furnitures::before {
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    body.subpage main picture > * {
        /* width: calc(var(--main-about-width) / 2);
        width: 50%;

        width: 100%; */
        /* flex: 0 0 auto; */
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    body.subpage main picture ~ * {
        width: 50%;
        width: calc(var(--main-about-width) * 0.4);
        width: 60%;
    }
    body.subpage main img.showroom {
        width: 60%;
    }



    body.subpage main form input[type="text"] {
        width: 47%;
        width: calc(50% - 0.75rem);
        margin-right: 0;
    }
    body.subpage main form input[type="email"]{
        width: 100%;
    }
    body.subpage main form input[type="text"]:first-child {
        margin-right: 1.5rem;
    }

    body.subpage main #modal {
        padding: 15rem 10rem;
    }





    /* body.subpage main img.showroom {

        margin-left: calc(calc(var(--main-about-width) * 0.1) * -1);
        width: calc(50% + calc(calc(var(--main-about-width) * 0.1) * 2));
        padding: calc(var(--main-about-width) * 0.1);
    } */


}